#wat-zijn-we-van-plan-grid .grid-item {
    max-width: 25%;
    padding: 5px;
}

@media (max-width: 1200px) {
    #wat-zijn-we-van-plan-grid .grid-item {
        max-width: 33.3%;
    }
}

@media (max-width: 992px) {
    #wat-zijn-we-van-plan-grid .grid-item {
        max-width: 49.7%;
    }
}

@media (max-width: 768px) {
    #wat-zijn-we-van-plan-grid .grid-item {
        max-width: 100%;
    }
}

.zonzelf-content img {
    width: 40%;
    margin: 0 0 10px 10px;
    float: right;
    clear: both;
}

.zonzelf-content a img {
    float: none;
    margin: 5px;
    width: auto;
    display: inline-block;
    height: 120px;
}

.energie-van-de-boer-content img {
    width: 40%;
    margin: 0 0 10px 10px;
    float: right;
}